@()
@main("Sudoku board") {
    <div class="container">
        <div class="sudoku">
        @for(row <- 1 to 9) {
            @for(col <- 1 to 9) {
                <input id="input@((row-1) * 9 + col)" class="r@(row) c@(col)
                t@(if (row <= 3) {
                        if (col <= 3) 1
                        else if (col <= 6) 2
                        else 3
                    } else if (row <= 6) {
                        if (col <= 3) 4
                        else if (col <= 6) 5
                        else 6
                    } else {
                        if (col <= 3) 7
                        else if (col <= 6) 8
                        else 9
                    }) @if(row % 3 == 1) { btop }
                @if(row % 3 == 0) { bbot }
                @if(col % 3 == 0) { bright }
                @if(col % 3 == 1) { bleft }"
                type="text"
                maxlength="1">
                }
        }
        </div>
        <div class="buttonGroup">
            <button id="easyNew" class="button">New puzzle (easy)</button>
            <button id="mediumNew" class="button">New puzzle (medium)</button>
            <button id="hardNew" class="button">New puzzle (hard)</button>
        </div>
    </div>
} {
<script src="@routes.Assets.at("javascripts/fetchRandomBoard.js")"></script>
<script>var boardUrl = "@routes.Sudoku.shuffle()"</script>
}